<div class="modal-header">
  <h4>Добавить дочерний контроллер</h4>
</div>
<div class="modal-body alert-danger" ng-if="error">
  <strong>{{ error }}</strong>
</div>
<div class="modal-body">
  <form name="childController">
    <div class="form-group">
      <label class="control-label" for="childControllerQuery">ФИО</label>
      <input type="text" class="form-control" id="childControllerQuery" name="childControllerQuery" ng-minlength="3" ng-model="childControllerQuery" required/>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="pull-right">
    <button class="btn btn-primary" ng-disabled="loading || notFound" ng-click="acmCtrl.addChild(childControllerQuery)">
      {{ loading ? 'Подождите' : (notFound ? 'Не найден' : 'Сохранить' ) }}
    </button>
  </div>
</div>
