<div class="modal-header">
  <h3>Системы связи ({{ servers.address }})</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <h6 ng-repeat="point in server.monitors track by point.id">
        <span class="glyphicon" ng-style="{color: point.online ? 'green' : 'red'}"
              ng-class="{'glyphicon-ok': point.online, 'glyphicon-warning-sign': !point.online}"></span>
        {{ point.name }}
      </h6>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$dismiss()">Закрыть</button>
</div>
