<div class="modal-header">
  <h3>{{ camera.address }}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-4by3" ng-if="!supportsStreaming && camera.uuid">
        <iframe ng-src="{{ source }}"></iframe>
      </div>
      <div class="embed-responsive embed-responsive-4by3" ng-if="!supportsStreaming && !camera.uuid">
        <object id="myFlash" type="application/x-shockwave-flash" data="/assets/img/player_flv_mini.swf">
          <param name="movie" value="player_flv_js.swf"/>
          <param name="FlashVars" value="flv={{ camera.stream_uri }}&autoplay=1&autoload=1&buffer=10"/>
          <p>Ваш браузер не поддерживает Flash</p>
        </object>
      </div>
      <div class="embed-responsive embed-responsive-4by3" ng-if="supportsStreaming">
        <video ng-src="{{ camera.m3u8 }}" class="embed-responsive-item"></video>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-left" if-has-control>
    <a class="btn btn-default" ng-if="!showArchive && camera.uuid" ng-click="getSnapshot()">
      Сделать снимок
    </a>
  </div>
  <button class="btn btn-primary" ng-click="$dismiss()">Закрыть</button>
</div>
