<div class="row">
  <div class="col-md-12 padLeft60">
    <h3>Пункты питания РДП
      <a ui-sref="core.rdp({rdp: rdp.slug})">{{rdp.name}}</a>
      <button ng-click="addController()" class="btn btn-sm btn-primary" if-has-control>
        <span class="glyphicon glyphicon-plus-sign"></span>
        Добавить
      </button>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12" fixed-header>
    Сортировать по: <button ng-click="changeSort('name')">Название</button>
    <button ng-click="changeSort('address')">Адрес</button>
    <button ng-click="changeSort('tag')">Тег</button>
    <button ng-click="changeSort('checked')">Отмечен</button>
    <button ng-click="changeSort('type')">Тип</button>

    <div class="marginTop10">
      <table class="table table-condensed table-bordered">
        <thead>
        <tr>
          <th>Название</th>
          <th>Адрес</th>
          <th>Тег</th>
          <th>Отмечен</th>
          <th>Тип</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="controller in controllers | orderBy:sort:reverse">
          <td>
            <a ng-click="remove(controller)" style="margin-right: 1em;" if-has-control>
              <span class="glyphicon glyphicon-trash"></span>
            </a>
            <a ui-sref="adm.controller.scheme({rdp: rdp.slug, controller: controller.id})">{{controller.name}}</a>
          </td>
          <td>{{controller.address}}</td>
          <td>{{controller.tag}}</td>
          <td class="center"><input type="checkbox" ng-model="controller.checked" ng-change="toggle(controller.id)"></td>
          <td>{{controller.rus_type}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
