<div class="col-md-12">
  <div class="camera">
    <h6 class="camera__name">
      {{ camera.address }}

      <span data-ng-if="canEdit === 'true'" class="glyphicon glyphicon-trash camera__remove" ng-click="deleteCamera(camera)" if-has-control></span>
    </h6>

    <div class="camera__description" ng-if="camera.description">
      <small>{{ camera.description }}</small>
    </div>

    <div class="camera__actions">
      <button class="btn btn-default btn-xs tooltipped tooltipped-s" data-tooltip="Просмотр" ng-click="showVideo()">
        <i class="fa fa-video-camera"></i>
      </button>
      <button class="btn btn-default btn-xs tooltipped tooltipped-s" data-tooltip="{{ archiveTooltip() }}"
              ng-click="showVideo(true)" ng-disabled="!camera.uuid">
        <i class="fa fa-clock-o"></i>
      </button>
      <button class="btn btn-default btn-xs tooltipped tooltipped-s" data-tooltip="{{ galleryTooltip() }}"
              ng-click="showGallery()" ng-disabled="!camera.uuid">
        <span class="glyphicon glyphicon-picture"></span>
      </button>

      <button data-ng-if="canEdit === 'true'" class="btn btn-primary btn-xs pull-right tooltipped tooltipped-s" data-tooltip="Редактировать"
              ng-click="showEditModal()" if-has-control>
        <span class="glyphicon glyphicon-edit"></span>
      </button>
    </div>
  </div>
</div>
