<div class="controller-cascade__block">
    <h5>Дочерние контроллеры</h5>
    <div class="row ">
        <div class="col-md-6" ng-if="cascadeChildCtrl.showControls">
            <input type="text" ng-model="cascadeChildCtrl.controllerSelected" placeholder="Добавить по имени или адресу"
                   typeahead="address as address.formated for address in searchController($viewValue)"
                   typeahead-on-select="addChild()"
                   typeahead-loading="loadingLocations" class="form-control">

        </div>
        <div class="col-md-12" ng-if="!cascadeChildCtrl.children.length">
            Не добавлены дочерние контроллеры.
        </div>
        <div class="col-md-12" ng-if="cascadeChildCtrl.children.length">
            <div ng-repeat="child in cascadeChildCtrl.children">
                <div class="controller-cascade__child"> <strong>{{child.name}}</strong> {{child.address}}
                    <button ng-if="cascadeChildCtrl.showControls" class="btn btn-xs controller-cascade__delete" ng-disabled="loading" ng-click="deleteChild($index, child.id)">
                        удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
