@import "variables";

.controller-container {
  width   : percentage(6/12);
  padding : 0 3px/* 0 0*/;
  float   : left;
  cursor: pointer;
  /*min-width: 130px;*/

  @media (min-width : $screen-sm) {
    width : percentage(3/12);
  }

  @media (min-width : $screen-md) {
    width : percentage(2/12);
  }

  @media (min-width : $screen-lg) {
    width : percentage(1/8);
  }
}

.controller {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  width: 100%;
  padding: 2px 0 7px;
  margin: 3px 0;
  border-left: 4px solid;
  background-color: #f2f2f2;
  user-select: none;
  -moz-box-shadow: 1px 1px 6px 1px #c6c6c6;
  box-shadow: 1px 1px 6px 1px #c6c6c6;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &--cascade::before {
    content          : "";
    position         : absolute;
    right            : 0;
    //border-width     : 0 22px 22px 0;
    //border-style     : solid;
    //border-color     : #c2c2c2 #c2c2c2 #ffffff #ffffff;
    background : url("/assets/img/icon_derevo.png") no-repeat;
    display          : block;
    width: 14px;
    height: 14px;
  }

  &--maintenance::after {
    position               : absolute;
    top                    : 22px;
    left                   : 11px;
    display                : inline-block;
    font-family            : 'Glyphicons Halflings';
    font-style             : normal;
    font-weight            : normal;
    line-height            : 1;
    -webkit-font-smoothing : antialiased;
    content                : "\e136";
  }

  &--description::after {
    position               : absolute;
    top                    : 1px;
    right                  : 1px;
    display                : inline-block;
    content                : "\e111";
    color                  : #2591ae;
  }

  &__alarm {
    width   : percentage(1/6);
    display : inline-block;

    .controller-alarm-icon {
      height : 14px;
    }
  }

  &--controller__address {
    border-color     : #8C8C8C !important;

    &.controller--cascade::before {
      border-color : $table-bg-hover;
      top: inherit;
    }

    .controller__name__link, .description {
      color: #333;
    }
  }

  &--disconnected {
    border-color: #616161 !important;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      background: #cf2a30;
      width: 100%;
      height: 4px;
    }
  }

  &--maintenance {
    .controller__name {
      width : 90%;
    }
  }

  &--enabled {
    border-color : #f80;
  }

  &--disabled {
    border-color : #39b449;
  }

  &--autonomous {
    border-color     : orange !important;
    background-color : transparentize(orange, 0.9);
  }

  &__maintenance {
    text-align  : right;
    position    : absolute;
    white-space : nowrap;
    font-size   : 9px;
  }

  &__name {
    width         : 100%;
    white-space   : nowrap;
    /*font-weight:700;*/
    font-size: 13px;
    padding: 0 2px;
    text-align    : left;
    overflow      : hidden;
    text-overflow : ellipsis;

    &__selector {
      margin : 0 2px 0 0 !important;
      float  : left;
    }
    &__link {
      color: #333333;
      text-decoration: none;
    }
  }

  &__address {
    line-height   : 22px;
    height        : 22px;
    max-width     : 100%;
    display: block;
    text-decoration: none;
    color: #333333;
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
  }
}

.controller-list {

  &__type-name {
    padding-bottom: 2px;
    /*border-bottom:1px solid #d5d5d5;*/
    font-size: 14px;
    text-transform: uppercase;

    cursor: pointer;

    &__handle {
      margin-right: 1rem
    }
  }

  &--condensed {
    .controller-container {
      font-size     : 5px;
      /*padding-right: 3px; /*e*/

      /*@media (min-width : $screen-md) {
        width : percentage(2/12);
      }

      @media (min-width : $screen-lg) {
        width : percentage(1/12);
      }*/

      @media (min-width : 1680px) {
        width : percentage(1/10);
      }
    }

    .controller {
      font-size : 10px;

      &--cascade::before {
        border-width : 0 12px 12px 0;
      }

      &__address {
        display : none;

        &--show {
          display : block;
        }
      }

      &__maintenance {
        position : absolute;
        top      : 0;
        right    : 0;
      }

      .controller__icons {
        margin-top: 4px;
      }

      &__alarm {
        .controller-alarm-icon {
          /*height : 10px;*/
        }
      }
    }
  }

  &--centered {
    text-align : center;

    .controller-container {
      float   : none;
      display : inline-block !important;
    }
  }
}

.controller--maintenance {
  .controller__alarm:first-child img {
    display: none;
  }
  &::after {
    content : "\e136" !important;
  }
}


.controller--maintenance.controller--description::after {
  content : "\e111 \e136" !important;
}
