@import "variables";

.controller-container {
  width   : percentage(6/12);
  padding : 0 3px/* 0 0*/;
  float   : left;
  cursor: pointer;
  /*min-width: 130px;*/

  @media (min-width : $screen-sm) {
    width : percentage(3/12);
  }

  @media (min-width : $screen-md) {
    width : percentage(2/12);
  }

  @media (min-width : $screen-lg) {
    width : percentage(1/8);
  }
}

.controller {
  position    : relative;
  display     : inline-block;
  text-align  : center;
  cursor      : pointer;
  line-height : 1;
  width       : 100%;
  /*overflow:hidden;*/
  padding: 2px 0px 4px 0px;
  margin: 3px 0;
  border: 2px solid;
  background-color: #f2f2f2;
  user-select : none;
  box-shadow: 1px 1px 6px 1px #c6c6c6;

  transform: translate3d(0, 0, 0);

  &--cascade::before {
    content          : " ";
    position         : absolute;
    right            : 0;
    top              : 0;
    border-width     : 0 22px 22px 0;
    border-style     : solid;
    border-color     : #c2c2c2 #c2c2c2 #ffffff #ffffff;
    background-color : #d3d3d3;
    display          : block;
  }

  &--maintenance::after {
    position               : absolute;
    top                    : 1px;
    right                  : 1px;
    display                : inline-block;
    font-family            : 'Glyphicons Halflings';
    font-style             : normal;
    font-weight            : normal;
    line-height            : 1;
    -webkit-font-smoothing : antialiased;
    content                : "\e136";
  }

  &--description::after {
    position               : absolute;
    top                    : 1px;
    right                  : 1px;
    display                : inline-block;
    font-family            : 'Glyphicons Halflings';
    font-style             : normal;
    font-weight            : normal;
    line-height            : 1;
    -webkit-font-smoothing : antialiased;
    content: "";
    //content                : "\e111";
    background: url('/assets/img/comment-icon-14.png') 0 0 no-repeat;
    width: 14px;
    height: 14px;
  }

  &__alarm {
    width   : percentage(1/6);
    display : inline-block;

    .controller-alarm-icon {
      height : 14px;
    }
  }

  &--disconnected {
    /*border-color     : #808080 !important;
    background-color : $table-bg-hover;*/
    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      display: block;
      background: #cf2a30;
      width: 100%;
      height: 4px;
    }

    &.controller--cascade::before {
      border-color : #c2c2c2 #c2c2c2 $table-bg-hover $table-bg-hover;
    }
  }

  &--maintenance {
    .controller__name {
      width : 90%;
    }
  }

  &--enabled {
    border-color : #f80;
  }

  &--disabled {
    border-color : #39b449;
  }

  &--autonomous {
    border-color     : orange !important;
    background-color : transparentize(orange, 0.9);
  }

  &__maintenance {
    text-align  : right;
    position    : absolute;
    white-space : nowrap;
    font-size   : 9px;
  }

  &__name {
    width         : 100%;
    white-space   : nowrap;
    /*font-weight:700;*/
    font-size: 13px;
    padding: 0 2px;
    text-align    : left;
    overflow      : hidden;
    text-overflow : ellipsis;

    &__selector {
      margin : 0 2px 0 0 !important;
      float  : left;
    }
    &__link {
      color: #333333;
      text-decoration: none;
    }
  }

  &__address {
    line-height   : 22px;
    height        : 22px;
    max-width     : 100%;
    display: block;
    text-decoration: none;
    color: #333333;
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
  }
}

.controller-list {

  &__type-name {
    padding-bottom: 2px;
    /*border-bottom:1px solid #d5d5d5;*/
    font-size: 14px;
    text-transform: uppercase;

    cursor: pointer;

    &__handle {
      margin-right: 1rem
    }
  }

  &--condensed {
    .controller-container {
      font-size     : 5px;
      /*padding-right: 3px; /*e*/

      /*@media (min-width : $screen-md) {
        width : percentage(2/12);
      }

      @media (min-width : $screen-lg) {
        width : percentage(1/12);
      }*/

      @media (min-width : 1680px) {
        width : percentage(1/10);
      }
    }

    .controller {
      font-size : 10px;

      &--cascade::before {
        border-width : 0 12px 12px 0;
      }

      &__address {
        display : none;

        &--show {
          display : block;
        }
      }

      &__maintenance {
        position : absolute;
        top      : 0;
        right    : 0;
      }

      .controller__icons {
        margin-top: 4px;
      }

      &__alarm {
        .controller-alarm-icon {
          /*height : 10px;*/
        }
      }
    }
  }

  &--centered {
    text-align : center;

    .controller-container {
      float   : none;
      display : inline-block !important;
    }
  }
}

.controller--maintenance.controller--description::after {
  content : "\e111 \e136" !important;
}
