<!DOCTYPE html>
<html lang="ru" ng-app="asuno">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>АСУНО</title>

  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />

  <!-- build:css /assets/css/index.html.style.css -->
  <link rel="stylesheet" href="vendor/arcgis_3.10/js/esri/css/esri.css"/>
  <link rel="stylesheet" href="../bower_components/ng-grid/ng-grid.css"/>
  <link rel="stylesheet" href="../bower_components/bootstrap-additions/dist/bootstrap-additions.min.css"/>
  <link rel="stylesheet" href="../bower_components/Fixed-Header-Table/css/defaultTheme.css"/>
  <link rel="stylesheet" href="../bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css"/>
  <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.min.css">
  <link rel="stylesheet" href="../.tmp/css/dashboard.css">
  <!-- endbuild -->

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display : none !important;
    }
  </style>

</head>

<body
    ng-class="{'hide-header': isJournalTab(), 'one-row': inState(['choice', 'login', 'tp', 'ahp', 'group', 'ua']), 'three-rows': inState(['core.rdps', 'core.rdp', 'adm.rdps','adm.users', 'adm.states', 'adm.rdp']), 'is-login': inState('login'), 'has-timeline': timelineState.show}">
<div ng-if="isLoadingPage">
  <div class="bg_layout"></div>
  <div id="floatingBarsG">
    <div class="blockG" id="rotateG_01"></div>
    <div class="blockG" id="rotateG_02"></div>
    <div class="blockG" id="rotateG_03"></div>
    <div class="blockG" id="rotateG_04"></div>
    <div class="blockG" id="rotateG_05"></div>
    <div class="blockG" id="rotateG_06"></div>
    <div class="blockG" id="rotateG_07"></div>
    <div class="blockG" id="rotateG_08"></div>
  </div>
</div>
<header class="navbar navbar-fixed-top" ng-class="{'is-choice': inState('choice'), 'journal-tab': isJournalTab() }"
        ng-controller="NavbarCtrl as navbar" ng-cloak ng-if="isNavbarOn()">
    <div class="container-fluid">
        <div class="row header-row hide-sm" ng-class="{'show': showTopMenu}">
            <div class="col-md-12">
                <div class="row logo-row">
                    <div class="col-sm-8">
                        <div class="logo hide-sm">
                            <img src="/assets/img/logo-mossvet.png" alt=""/>
                        </div>
                        <div class="logo hide-sm">
                            <img src="/assets/img/logo.png" alt=""/>
                        </div>
                        <div class="system-name">
                            <a href="/">Автоматизированная система управления наружным освещением</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row login">
                            <div class="col-md-12">
                                <table style="width:100%">
                                    <tbody>
                                    <tr>
                                        <td rowspan="2">
                                            <a class="login-name" href="#" data-id="41">
                                                <span>{{fio()}}</span>
                                            </a>
                                        </td>
                                        <td class="nav-column">
                                            <a href="" class="navigation-item" ng-click="logout()">
                                                <i class="icon-wrapper"><i class="icon-logout"></i></i>
                                                <span>выход</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="nav-column">
                                            <a href="#" class="navigation-item">
                                                <i class="icon-wrapper"><i class="icon-help"></i></i>
                                                <span>справка</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row choice-row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a ui-sref="core.rdps">Объекты НО</a></li>
                                <li class="dropdown" dropdown>
                                    <a href="" dropdown-toggle>
                                        Групповые регуляторы
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://82.204.177.219/" target="_blank">Маэстро</a></li>
                                        <li><a href="" onclick="alert('Сервер недоступен.\nОбратитесь за помощью в тех. поддержку')">
                                            СШС
                                        </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" onclick="alert('Сервер недоступен.\nОбратитесь за помощью в тех. поддержку')">
                                        Объекты АХП
                                    </a>
                                </li>
                                <li><a ui-sref="tp">Объекты ТП 6-10 кВ</a></li>
                            </ul>
                            <div class="navbar-right clock--navbar" clock></div>
                            <div sun-level></div>
                            <div class="navbar-right navbar-form" style="margin: 5px 0;">
                                <button class="btn btn-default" ng-click="showTopMenu = false" ng-hide="inState('choice')">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <connection-error class="row error-row"></connection-error>
            </div>
        </div>
        <div class="row main-row" ng-show="!inState('choice')">
            <div class="col-xs-3 col-sm-2 col-md-2  col-lg-2">
                <div class="site-nav--title" ui-sref="choice">АСУНО</div>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                <div class="site-nav--buttons">
                    <a class="btn btn-img btn-img--home" ui-sref="choice" title="На главную"></a>
                    <a class="btn btn-img btn-img--back" onclick="window.history.back()" title="Назад"></a>
                    <a ui-sref="report.alarmsReport" class="btn btn-img btn-img--alarm" title="Аварии"></a>
                    <a ui-sref="report.switchesReport" class="btn btn-img btn-img--journal" title="Оперативный журнал переключений"></a>
                    <a ui-sref="report.operativeReport" class="btn btn-img btn-img--reports" title="Отчеты">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </a>
                    <a ui-sref="report.maintenanceReport" class="btn btn-img btn-img--maintenance" title="Профилактики"></a>
                    <a class="btn btn-img btn-img--schedule" title="Режим работы" ui-sref="schedule"></a>
                    <a class="btn btn-img btn-img--timeline" title="Линейка времени"
                       ng-click="timelineState.show = !timelineState.show"
                       ng-disabled="!inState(['core.controller'])">
                    </a>
                    <a href="http://5.9.229.167/jsf/f?p=146:30:3331611608905:::::" target="_blank"
                       class="btn btn-img btn-img--passport" title="Паспорта объектов">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                    <a admin-button></a>
                    <a class="btn btn-img btn-img--auth" title="Авторизация">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </a>

                    <a ng-if="!inState('login')" server-status></a>
                </div>
            </div>
        </div>
        <div class="row small-row hide-xs" ng-show="!inState(['choice', 'login', 'tp','ahp','group', 'ua'])">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                <div class="site-nav--title-2">АСУНО/Объекты</div>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
                <div class="site-nav--form" ng-show="(inState('core.rdp') || inState('core.rdps'))">
                    <input class="site-nav--form-search" placeholder="Поиск" type="text"
                           ng-model="search.term" ng-change="navbar.setSearch(search.term)" && ng-show="!show.showMap"/>
                    <div class="site-nav--buttons">
                        <a class="btn btn-img btn-img--gis" title="Карта" ng-click="showMap()"
                                ng-class="{'btn-img--active': show.showMap && !show.showBlocks}">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </a>
                        <a class="btn btn-img btn-img--window" title="Мнемосхемы" ng-click="showBlocks()"
                                ng-class="{'btn-img--active': !show.showMap && show.showBlocks}">
                            <span class="glyphicon glyphicon-th-large"></span>
                        </a>
                        <a class="btn btn-img btn-img--table" title="Таблица" ng-click="showTable()"
                                ng-class="{'btn-img--active': !show.showMap && !show.showBlocks}">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                    </div>
                    <div class="site-nav--buttons site-nav--zoom" controller-zoom
                         ng-show="inState('core.rdp') && !show.showMap && show.showBlocks">
                    </div>
                </div>
                <div class="site-nav--more hide-xs hide-sm">
                    <div class="site-nav--clock" clock></div>
                    <div class="site-nav--switch">
                        <table>
                            <tr>
                                <td>включение</td><td>{{datetime_on}}</td>
                            </tr>
                            <tr>
                                <td>выключение</td><td>{{datetime_off}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="site-nav--sun">
                        <img src="/assets/img/menu/new/sun.png" width="21" height="21">
                        <span>253</span>
                    </div>
                </div>
                <div class="site-nav--user">
                    <div class="site-nav--buttons">
                        <a class="btn btn-img btn-img--help"></a>
                        <a class="btn btn-img btn-img--logout" ng-click="logout()"></a>
                        <span class="site-nav--user-name">{{fio()}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row small-row">
            <div class="sidebar-button">
                <a class="btn-sidebar" ng-show="inState(['core.rdps', 'core.rdp', 'adm.rdps','adm.users', 'adm.states', 'adm.rdp'])" ng-click="sidebar.show = !sidebar.show">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
            </div>
            <div class="col-sm-10 col-md-10">
                <ul class="site-nav--filters hide-sm" ng-show="inState(['core.rdps', 'core.rdp', 'core.rdp2'])">
                    <li filter-badge="all" name="Все" set-filter="setFilter" count="filterCount" current="isCurrentFilter"></li>
                    <li filter-badge="disabled" name="Отключено" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="evening" name="Вечер" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="night" name="Ночь" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="day" name="День" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="fire" name="Пожар" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="door" name="Дверь" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="common_alarm" name="Авария" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="connection" name="Нет связи" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="autonomous" name="Автономный" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="lock" name="Блокировано" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                    <li filter-badge="maintenance_due" name="Профилактика" set-filter="setFilter" count="filterCount"
                        current="isCurrentFilter"></li>
                </ul>
            </div>
            <div class="control-button">
                <a class="site-nav--control hide-xs" control-pane ng-if="!inState('login')" ng-show="!inState(['choice', 'login', 'tp','ahp','group', 'ua'])"></a>
            </div>
        </div>
        <div class="row small-row hide-xs" ng-if="timelineState.show">
            <div class="col-md-12">
                <timeline></timeline>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div id="header-padding"></div>
    <div id="content" ui-view></div>
</div>

<!-- build:js /assets/js/index.html.scripts.js -->
<script src="../bower_components/base64/base64.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/Fixed-Header-Table/jquery.fixedheadertable.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="../bower_components/lodash/lodash.js"></script>
<script src="../bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/nvd3/build/nv.d3.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-i18n/angular-locale_ru-ru.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="../bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="../bower_components/ng-grid/ng-grid-2.0.13.debug.js"></script>
<script src="../bower_components/a0-angular-storage/dist/angular-storage.js"></script>
<script src="../bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<script src="../bower_components/jsplumb/dist/js/jquery.jsPlumb-1.7.5.js"></script>
<script src="../bower_components/angular-bootstrap-slider/slider.js"></script>
<script src="../bower_components/react/react-with-addons.js"></script>
<script src="../bower_components/eventEmitter/EventEmitter.js"></script>
<script src="../bower_components/momentjs/moment.js"></script>
<script src="../bower_components/momentjs/locale/ru.js"></script>
<script src="../bower_components/socket.io-client/dist/socket.io.js"></script>
<script src="../bower_components/immutable/dist/immutable.js"></script>
<script src="../bower_components/classnames/index.js"></script>
<script src="vendor/Flux.js"></script>
<script src="vendor/arcgis_3.10/init.js"></script>
<script src="../node_modules/babel-core/browser-polyfill.js"></script>
<!-- endbuild -->

<!-- build:js /assets/js/index.html.app.js -->
<script src="app/app.js"></script>
<script src="app/components/ngInjectMixin.jsx"></script>
<script src="app/components/Clock.jsx"></script>
<script src="app/components/ControllerBlockAlarm.jsx"></script>
<script src="app/components/ControllerBlock.jsx"></script>
<script src="app/components/Controllers.jsx"></script>
<script src="app/components/CounterInput.jsx"></script>
<script src="app/components/RemoteCommand.jsx"></script>
<script src="app/components/RemoteCommandList.jsx"></script>
<script src="app/components/LightSensor.jsx"></script>
<script src="app/controllers/MainCtrl.js"></script>
<script src="app/controllers/RDPsController.js"></script>
<script src="app/controllers/RDPController.js"></script>
<script src="app/controllers/ControllerCtrl.js"></script>
<script src="app/controllers/LoginController.js"></script>
<script src="app/controllers/NavbarCtrl.js"></script>
<script src="app/controllers/ChoiceCtrl.js"></script>
<script src="app/controllers/reports/ReportCtrl.js"></script>
<script src="app/controllers/adm/RdpAdmController.js"></script>
<script src="app/controllers/adm/ControllerAdmCtrl.js"></script>
<script src="app/controllers/adm/UsersCtrl.js"></script>
<script src="app/controllers/adm/UserCtrl.js"></script>
<script src="app/controllers/adm/NewUserCtrl.js"></script>
<script src="app/controllers/ControllerLabelCtrl.js"></script>
<script src="app/controllers/gis/CameraCtrl.js"></script>
<script src="app/controllers/gis/DirectionLepCtrl.js"></script>
<script src="app/controllers/ControllerDirectionsCtrl.js"></script>
<script src="app/controllers/MaintenancePopupCtrl.js"></script>
<script src="app/controllers/SidebarCtrl.js"></script>
<script src="app/controllers/reports/OperativeReportCtrl.js"></script>
<script src="app/controllers/reports/AlarmsReportCtrl.js"></script>
<script src="app/controllers/reports/MaintenanceReportCtrl.js"></script>
<script src="app/controllers/CascadeControllerCtrl.js"></script>
<script src="app/controllers/reports/SwitchesReportCtrl.js"></script>
<script src="app/controllers/reports/TimeLagReportCtrl.js"></script>
<script src="app/controllers/adm/ControllerSchemeCtrl.js"></script>
<script src="app/controllers/reports/UserActionsReport.js"></script>
<script src="app/controllers/reports/ControlReportCtrl.js"></script>
<script src="app/controllers/reports/ExternalReportController.js"></script>
<script src="app/controllers/adm/StatesAdmController.js"></script>
<script src="app/controllers/adm/RdpsAdmController.js"></script>
<script src="app/controllers/adm/SidebarAdmController.js"></script>
<script src="app/controllers/reports/AlertsReportController.js"></script>
<script src="app/controllers/LightSensorsController.js"></script>
<script src="app/services/Controllers.js"></script>
<script src="app/services/RDPs.js"></script>
<script src="app/services/auth/Auth.js"></script>
<script src="app/services/auth/Users.js"></script>
<script src="app/services/httpTemplateCache.js"></script>
<script src="app/services/StatusIcons.const.js"></script>
<script src="app/services/Events.js"></script>
<script src="app/services/Maintence.js"></script>
<script src="app/services/GISLayers.js"></script>
<script src="app/services/Controllers.store.js"></script>
<script src="app/services/FilterSvc.js"></script>
<script src="app/services/Mute.js"></script>
<script src="app/services/EmitEvents.js"></script>
<script src="app/services/Servers.js"></script>
<script src="app/services/EverGisLocator.js"></script>
<script src="app/services/UFAP.js"></script>
<script src="app/services/AsunoDispatcher.js"></script>
<script src="app/services/Condense.store.js"></script>
<script src="app/services/States.js"></script>
<script src="app/services/ReportFormatter.js"></script>
<script src="app/services/modernizr.js"></script>
<script src="app/services/Sensors.js"></script>
<script src="app/services/auth/TokenInterceptor.js"></script>
<script src="app/services/Mutex.js"></script>
<script src="app/services/MassOperations.js"></script>
<script src="app/services/ControllerFactory.js"></script>
<script src="app/services/ClockStore.js"></script>
<script src="app/services/Servers.store.js"></script>
<script src="app/services/Sensors.store.js"></script>
<script src="app/services/Cameras.js"></script>
<script src="app/services/Muter.js"></script>
<script src="app/services/Logs.js"></script>
<script src="app/services/ConstantsCreator.js"></script>
<script src="app/services/remoteCommand.store.js"></script>
<script src="app/services/remoteCommand.listener.js"></script>
<script src="app/services/remoteCommand.socket.js"></script>
<script src="app/services/Utils.js"></script>
<script src="app/services/Groups.js"></script>
<script src="app/services/Schedule.js"></script>
<script src="app/services/sci.svc.js"></script>
<script src="app/services/timeline.svc.js"></script>
<script src="app/services/HeatMap.svc.js"></script>
<script src="app/services/Monitors.svc.js"></script>
<script src="app/services/ConnectionError.js"></script>
<script src="app/services/resource.svc.js"></script>
<script src="app/services/SensorGraph.svc.js"></script>
<script src="app/services/confirmation.svc.js"></script>
<script src="app/services/socket.io.js"></script>
<script src="app/directives/maintenance-state.js"></script>
<script src="app/directives/mainenance-action.js"></script>
<script src="app/directives/cascadeChildren.js"></script>
<script src="app/directives/Clock.jsx"></script>
<script src="app/directives/ControllerList.jsx"></script>
<script src="app/directives/Navigation.js"></script>
<script src="app/directives/SimpleMap.js"></script>
<script src="app/directives/SimpleMapLayer.js"></script>
<script src="app/directives/FeatureRenderer.js"></script>
<script src="app/directives/ControllerLabel.js"></script>
<script src="app/directives/ConnectionRate.js"></script>
<script src="app/directives/LastResponse.js"></script>
<script src="app/directives/TimeLag.js"></script>
<script src="app/directives/cameraBlock.directive.js"></script>
<script src="app/directives/ControllerSimpleBlock.js"></script>
<script src="app/directives/teleSignal.directive.js"></script>
<script src="app/directives/controller-scheme.directive.js"></script>
<script src="app/directives/CornerCounter.js"></script>
<script src="app/directives/ControlPane.js"></script>
<script src="app/directives/RDPBlock.js"></script>
<script src="app/directives/ControllerPopup.js"></script>
<script src="app/directives/counterInputs.directive.jsx"></script>
<script src="app/directives/ControllerBlockAlarm.js"></script>
<script src="app/directives/breadcrumbs.js"></script>
<script src="app/directives/GroupMapLayer.js"></script>
<script src="app/directives/filterBadge.js"></script>
<script src="app/directives/fixedHeader.js"></script>
<script src="app/directives/serverStatus.js"></script>
<script src="app/directives/SimpleMapSearch.js"></script>
<script src="app/directives/controllerZoom.js"></script>
<script src="app/directives/controllerRegime.js"></script>
<script src="app/directives/groups.directive.js"></script>
<script src="app/directives/scheduleTable.js"></script>
<script src="app/directives/controllerBlock.jsx"></script>
<script src="app/directives/sunLevel.js"></script>
<script src="app/directives/connStatus.js"></script>
<script src="app/directives/admin-button.js"></script>
<script src="app/directives/journal.directive.js"></script>
<script src="app/directives/if-has-control.directive.js"></script>
<script src="app/directives/timeline.directive.js"></script>
<script src="app/directives/remote-command.directive.jsx"></script>
<script src="app/directives/rdp-remote-command.directive.js"></script>
<script src="app/directives/controller-description.directive.js"></script>
<script src="app/directives/dimmer.directive.js"></script>
<script src="app/directives/kulon-graphs.directive.js"></script>
<script src="app/directives/ahp-kulon-scheme.directive.js"></script>
<script src="app/directives/kulon-graph.directive.js"></script>
<script src="app/directives/telemetry.directive.js"></script>
<script src="app/directives/lightSensors.directive.jsx"></script>
<script src="app/directives/dep-editor.directive.js"></script>
<script src="app/directives/ahp-kulon-editor.directive.js"></script>
<script src="app/directives/delayRender.directive.js"></script>
<script src="app/directives/connection-error.js"></script>
<script src="app/filters/percent.js"></script>
<script src="app/filters/serverdate.js"></script>
<script src="app/filters/moment.js"></script>
<script src="app/i18n/angular-locale_ru-ru-strap.js"></script>
<!-- endbuild -->

<script>
  (function () {
    'use strict';

    var everGis = document.createElement('script');
    everGis.setAttribute('src', 'http://dev1.everpoint.ru/EverGIS/HTML5/005/evergis.js');
    everGis.setAttribute('async', true);

    var s0 = document.getElementsByTagName('script')[0];
    s0.parentNode.insertBefore(everGis, s0);
  })();
</script>
</body>
</html>
