<div>
  <div class="row">
    <div class="col-md-12 sidebar__tabs-select">
      <div class="btn-group btn-group-sm">
        <label class="btn btn-default active">Журналы</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="report.operativeReport">Оперативный журнал</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.switchesReport">Журнал переключений</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.externalReport">Журнал взаимодействия с внешними системами</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.userReport">Журнал регистрации пользователей</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.actionsReport">Журнал истории действий пользователей</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.alarmsReport">Журнал аварийных оповещений</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.alertsReport">Журнал сигнализации</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.lightReport">Журнал времени горения объектов НО</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.timeLagReport">Журнал расхождения времени</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="report.maintenanceReport">Журнал профилактик</a>
        </li>
      </ul>
    </div>
  </div>
</div>
