<div class="row">
  <div class="col-md-12">
    <h3>Объекты ТП 6-10 кВ</h3>
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>Название</th>
        <th>События</th>
        <th><img src="/assets/img/alarm.png" alt="" style="height: 12px"/> Авария</th>
        <th><img src="/assets/img/disconnect.png" alt="" style="height: 12px"/> Нет связи</th>
        <th><img src="/assets/img/door.png" alt="" style="height: 12px"/> Открыта дверь</th>
        <th><img src="/assets/img/fire.png" alt="" style="height: 12px"/> Пожар</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a ui-sref="tpone">ТП-222 Садово-Сухаревская 10</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>